* {
  padding: 0;
  margin: 0;
  text-align: center;
}

h1, h2, p, ul {
  padding: 5px;
  margin: 5px;
  list-style-type: none;
  z-index: 0.5;
}

body {
  background-image: url(./imgs/tile.jpg);
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100vw;
  height: 100vh;
}

header {
  text-align: center;
  background-color: #ebebeb;
  padding: 5px;
}

header h1 {
  font-size: 24px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ebebeb;
  border-radius: 10%;
  width: 60%;
  max-width: 600px;
  min-width: 300px;
  height: 70%;
  max-height: 500px;
  margin: 0 auto;
}

main input {
  width: 200px;
  height: 30px;
  font-size: 1em;
  z-index: 1;
  margin-top: 5px;
}

main section {
  padding: 0px 0px;
}

main section .slider {
  display: none;
}

main section .slider #slider {
  min-width: 200px;
  width: 50%;
  margin-top: 10px;
}

main section .slider p {
  font-weight: 700;
}

main section .slider div.bpm-and-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main section .slider div button {
  width: 40px;
  height: 40px;
  font-weight: 800;
  font-size: 1.2em;
}

main section .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

main section .table ul.images {
  font-size: 13px;
}

main section .table img {
  height: 25px;
  width: 25px;
}

main section .table img ul li {
  list-style-type: none;
  font-size: 1.1em;
}

main section .table img ul li.left {
  text-align: right;
}

main section .table img ul li.right {
  text-align: left;
}

footer {
  background-color: #ebebeb;
  padding: 10px;
  font-size: 1em;
}

footer a {
  color: black;
  font-size: 1.3em;
}

footer a a:visited {
  color: black;
}

@media only screen and (max-height: 640px) {
  body {
    height: 640px;
  }
}

@media only screen and (min-width: 550px) {
  body {
    font-size: 18px;
  }
  body header h1 {
    font-size: 2em;
  }
  body main {
    max-height: 600px;
    max-width: 500px;
  }
  body main section {
    padding: 4px 0px;
  }
  body main section #slider {
    min-width: 200px;
    width: 50%;
  }
  body main section .table ul.images {
    font-size: 16px;
  }
  body footer {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=index.css.map */