$primary-color: #00a2ff;
$secondary-color: #ebebeb;
$primary-font-color: black;

*{
  padding: 0;
  margin: 0;
  text-align: center;
}

h1, h2, p, ul{
  padding: 5px;
  margin: 5px;
  list-style-type: none;
}

body{
  background-image: url(./imgs/tile.jpg);
  color: $primary-font-color;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

header{
  text-align: center;
  background-color: $secondary-color;
  h1 {
    font-size: 24px;
  }
  padding: 5px;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $secondary-color;
  border-radius: 10%;
  width: 60%;
  max-width: 600px;
  min-width: 300px;
  height: 70%;
  margin: 0 auto;

  input{
      width: 200px;
      height: 30px;
      font-size: 1em;
  }
   
  section {
    padding: 0px 0px;

    // border: 2px solid purple;

    .slider{
      display: none;

      #slider{
        min-width: 200px;
        width: 50%;
        margin-top: 10px;
      }

      p {
        font-weight: 700;
      }
      div{
        &.bpm-and-btns{
          display: flex;
          flex-direction: row;
          justify-content: space-around;

     
        }
        button {
          width: 40px;
          height: 40px;
          font-weight: 800;
          font-size: 1.2em;
          
        }
      }
    }

    .table{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        width: 100% ;

        ul.images {
          font-size: 16px;
        }

        img {
            height: 25px;
            width: 25px;

        ul li {
            list-style-type: none;
            font-size: 1.1em;

            &.left {
              text-align: right;
          }

            &.right {
              text-align: left;
          }
        }
      }
    }
  } 
}
  footer{
    background-color: $secondary-color;
    padding: 10px;
    font-size: 1em;
    a {
        color: $primary-font-color;
        font-size: 1.3em;
        a:visited{
            color: $primary-font-color;
        }
      }
  }

@media only screen and (min-width: 550px) {
  
  body {
    font-size: 18px;

    header {
      h1 {
        font-size: 2em;
      }
    }
    
    section {
      padding: 10px 0px;
    }

    footer {
      font-size: 1.2em;
    }
  }



}