$primary-color: #00a2ff;
$secondary-color: #ebebeb;
$primary-font-color: black;

*{
  padding: 0;
  margin: 0;
  text-align: center;
}

h1, h2, p, ul{
  padding: 5px;
  margin: 5px;
  list-style-type: none;
}

body{
  // background-color: $primary-color;
  background-image: url(./imgs/tile.jpg);
  color: $primary-font-color;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

header{
  text-align: center;
  background-color: $secondary-color;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $secondary-color;
  // background-image: url(imgs/edit3.jpg);
  // background-position: bottom;
  border-radius: 10%;
  width: 60%;
  height: 70%;
  margin: 0 auto;

  input{
      width: 200px;
      height: 30px;
      font-size: 1em;
  }
   
  section {

    border: 2px solid purple;

      .slider{
        display: none;
        p {
          font-weight: 700;
        }
      }


    .table{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        width: 100% ;

        img{
            height: 25px;
            width: 25px;

        ul li{
            list-style-type: none;
            font-size: 1.1em;
        }

        ul.left{
            text-align: right;
        }
        ul.right{
            text-align: left;
        }
      }
    }
  } 
}
  footer{
    background-color: $secondary-color;
    padding: 10px;
    font-size: 1.2em;
    a {
        color: $primary-font-color;
        font-size: 1.3em;
        a:visited{
            color: $primary-font-color;
        }
      }
  }